.DS_Store
Pods/

EvidenceRoom.xcworkspace/xcuserdata/thomas-indico.xcuserdatad/UserInterfaceState.xcuserstate

EvidenceRoom.xcworkspace/xcuserdata/thomas-indico.xcuserdatad/xcschemes/xcschememanagement.plist
